In [1]:
import os
import errno
import pandas as pd
import numpy as np

In [2]:
src_split_path = r"C:\Users\nrosen\git-personal\miller60K_80dev_20future\rand_split"
dest_split_path = r"C:\Users\nrosen\git-personal\miller60K_80dev_20future\rand_split_time_epochs"

In [3]:
# csv = 'train_balanced_order.csv'
# csv = 'validation_balanced_order.csv'
# csv = 'test_balanced_order.csv'
csv = 'future_balanced_order.csv'

# creating csv with pre-ordered samples, in order to apply class-ratio in each batch:
df = pd.read_csv(os.path.join(src_split_path, csv))#, sep=',', encoding='utf-8', index=False, header=True)pd.read_csv(os.path.join(dest_split_path, 'test_balaced_order.csv'), sep=',', encoding='utf-8', index=False, header=True)

In [4]:
df

,hash,class_order,first_seen_second,score,first_seen_obj
0,a89dbf7240028794c2d0880315c93f444716863569dd4a...,1,2013-11-24 10:21:12,7.7,2013-11-24 10:21:12
1,74d12e89bb14d315133bcdaa239dc2ad5f8ce6be93a8f6...,1,2013-11-02 01:42:24,0.0,2013-11-02 01:42:24
2,a950f7b6c7cf7822881c4d9cde32d9d31e4524521db75c...,2,2013-11-02 01:42:38,0.0,2013-11-02 01:42:38
3,8e66436f4cc85aaa75ca9238470123433cec376d73f3fc...,2,2013-11-24 10:21:14,7.9,2013-11-24 10:21:14
4,b5573b2d8cf5a9e852ac59856ad1ed00c015daa3c7824e...,3,2013-11-24 10:21:17,9.1,2013-11-24 10:21:17
...,...,...,...,...,...
11989,417469ef81655a7a04dc30b8482f838181292a14dba3d1...,5995,2014-06-30 22:07:26,8.5,2014-06-30 22:07:26
11990,993e5284a92c376ff2bf8fe93afe4ad6a55e3b6117518c...,5996,2014-06-30 23:52:10,0.0,2014-06-30 23:52:10
11991,3233773a0b5ef29465ab40ff5391c35996b13e41eb6a53...,5996,2014-06-30 22:07:27,9.2,2014-06-30 22:07:27
11992,6fa841d4ed323dcf2e7c4de02766a40220380b16012122...,5997,2014-06-30 22:07:36,8.1,2014-06-30 22:07:36
11993,5a9fa08a7bf8b3129a932b5f1ba1c99ef043c209277476...,5997,2014-06-30 23:52:16,0.0,2014-06-30 23:52:16

In [5]:
df['first_seen_obj'] = pd.to_datetime(df['first_seen_second'], format='%Y-%m')

In [6]:
df.dtypes

hash                         object
class_order                   int64
first_seen_second            object
score                       float64
first_seen_obj       datetime64[ns]
dtype: object

In [7]:
df.sort_values('class_order')[:4]

,hash,class_order,first_seen_second,score,first_seen_obj
0,a89dbf7240028794c2d0880315c93f444716863569dd4a...,1,2013-11-24 10:21:12,7.7,2013-11-24 10:21:12
1,74d12e89bb14d315133bcdaa239dc2ad5f8ce6be93a8f6...,1,2013-11-02 01:42:24,0.0,2013-11-02 01:42:24
2,a950f7b6c7cf7822881c4d9cde32d9d31e4524521db75c...,2,2013-11-02 01:42:38,0.0,2013-11-02 01:42:38
3,8e66436f4cc85aaa75ca9238470123433cec376d73f3fc...,2,2013-11-24 10:21:14,7.9,2013-11-24 10:21:14

In [8]:
df.set_index('hash', inplace=True)

In [9]:
malicious_threshold = 7
benign_threshold = 1
indices_malicious_threshold =  df['score'] > malicious_threshold
indices_benign_threshold =     df['score'] < benign_threshold

In [10]:
indices_malicious_threshold

hash
a89dbf7240028794c2d0880315c93f444716863569dd4a2a73333da112f13f06     True
74d12e89bb14d315133bcdaa239dc2ad5f8ce6be93a8f65b9f076d89b9c50732    False
a950f7b6c7cf7822881c4d9cde32d9d31e4524521db75c135ad0a9e23575bf57    False
8e66436f4cc85aaa75ca9238470123433cec376d73f3fc33a296b578eff2e001     True
b5573b2d8cf5a9e852ac59856ad1ed00c015daa3c7824efb337a118bc1b7dbd9     True
                                                                    ...
417469ef81655a7a04dc30b8482f838181292a14dba3d1b1d8be5ab6ca9cfbff     True
993e5284a92c376ff2bf8fe93afe4ad6a55e3b6117518cfc1cd18086da9f9bf0    False
3233773a0b5ef29465ab40ff5391c35996b13e41eb6a53e78fcbbfb509453b06     True
6fa841d4ed323dcf2e7c4de02766a40220380b1601212218ed64889705d914b8     True
5a9fa08a7bf8b3129a932b5f1ba1c99ef043c209277476e7b49a04428f08d75f    False
Name: score, Length: 11994, dtype: bool

In [11]:
indices_malicious_only = indices_malicious_threshold.where(indices_malicious_threshold == True).dropna()
indices_benign_only = indices_benign_threshold.where(indices_benign_threshold == True).dropna()

In [12]:
indices_malicious_only

hash
a89dbf7240028794c2d0880315c93f444716863569dd4a2a73333da112f13f06    1.0
8e66436f4cc85aaa75ca9238470123433cec376d73f3fc33a296b578eff2e001    1.0
b5573b2d8cf5a9e852ac59856ad1ed00c015daa3c7824efb337a118bc1b7dbd9    1.0
fb372326668998223a43e4a4d07e823a8c57ad9c630f82baad98e700675bc85a    1.0
133a5fc66dc4281e6a13391f7a99a6407866f37b87ac9e79bf9240a952c6d3ea    1.0
                                                                   ...
9cd4ebab7e292def7f429ad4198a47f37e4031f78f0830416dce8bdf110dc8f7    1.0
08744c8e699057462b7e666e778cb63cf4f8a4c18b3bd6681fb958be63b275c2    1.0
417469ef81655a7a04dc30b8482f838181292a14dba3d1b1d8be5ab6ca9cfbff    1.0
3233773a0b5ef29465ab40ff5391c35996b13e41eb6a53e78fcbbfb509453b06    1.0
6fa841d4ed323dcf2e7c4de02766a40220380b1601212218ed64889705d914b8    1.0
Name: score, Length: 5997, dtype: float64

In [13]:
df_mal_sorted = df.loc[indices_malicious_only.index.values.astype(str)].sort_values(by='first_seen_obj')

In [14]:
df_ben_sorted = df.loc[indices_benign_only.index.values.astype(str)].sort_values(by='first_seen_obj')

In [15]:
df_united_sorted = pd.concat([df_mal_sorted, df_ben_sorted])
print(df_united_sorted.shape[0])

11994

In [16]:
if 'class_order' in df_mal_sorted.columns:
    df_mal_sorted.drop(columns=['class_order'], inplace=True)

In [17]:
if 'class_order' in df_ben_sorted.columns:
    df_ben_sorted.drop(columns=['class_order'], inplace=True)

In [18]:
df_mal_sorted.insert(0, 'class_order', range(1, 1 + 1*len(df_mal_sorted), 1))
df_ben_sorted.insert(0, 'class_order', range(1, 1 + 1*len(df_ben_sorted), 1))

In [19]:
df_united_sorted_balanced_batch = pd.concat([df_mal_sorted, df_ben_sorted]).sort_values(by=['class_order'])

In [20]:
df_united_sorted_balanced_batch.reset_index(inplace=True)
df_united_sorted_balanced_batch.rename(columns={'index': 'hash'}, inplace=True)
#df_train_united_sorted_balanced_batch.rename_axis("index2", axis="columns", inplace=True)

In [21]:
csv

'future_balanced_order.csv'

In [22]:
dest_split_path

'C:\\Users\\nrosen\\git-personal\\miller60K_80dev_20future\\rand_split_time_epochs'

In [23]:

try:
    os.mkdir(dest_split_path)
except OSError as exc:
    if exc.errno != errno.EEXIST:
        raise
    pass

In [24]:
import os

# creating csv with pre-ordered samples, in order to apply class-ratio in each batch:
df_united_sorted_balanced_batch.to_csv(os.path.join(dest_split_path, csv), sep=',', encoding='utf-8', index=False, header=True)